Node-RedFlow
[{"id":"17160f60.8384f1","type":"tab","label":"Solar Water Heating","disabled":false,"info":""},{"id":"aa41fd62.f8f1","type":"bigtimer","z":"17160f60.8384f1","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"51.5161351","lon":"-0.3173806","starttime":"5003","endtime":"5004","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":120,"y":180,"wires":[[],["d607754f.6ed048","7e588419.f556bc"],[]]},{"id":"7e588419.f556bc","type":"http request","z":"17160f60.8384f1","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://192.168.0.251:5100/pw2-api/get_pw_stat","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":380,"wires":[["42908b1e.f21d44","961ef598.e75a78","e0a25d09.49d9b","d4e3161f.607338","d2214649.9512c8","2d759a50.136016","9be43ced.7253d","3c8cbf07.20011","6f28edf7.4998f4","b94b33e7.f0b0c","1f37f78e.c04758","ab5258c1.87cbd8","24469af7.8d0646"]]},{"id":"42908b1e.f21d44","type":"switch","z":"17160f60.8384f1","name":"Battery Powering House","property":"payload.pw_stats.BatteryPoweringHouse","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":420,"wires":[["95261425.e5e4f8"]]},{"id":"961ef598.e75a78","type":"switch","z":"17160f60.8384f1","name":"Solar Active","property":"payload.pw_stats.SolarActive","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":280,"wires":[["7fc528f8.298a28"]]},{"id":"e0a25d09.49d9b","type":"switch","z":"17160f60.8384f1","name":"Battery Active","property":"payload.pw_stats.BatteryPowerFlowkW","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":480,"wires":[["a8d7ba50.9d38a8"]]},{"id":"d4e3161f.607338","type":"switch","z":"17160f60.8384f1","name":"GridinUse","property":"payload.pw_stats.GridInUse","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":140,"wires":[["4ac5ee3a.fc84d"]]},{"id":"7fc528f8.298a28","type":"trigger","z":"17160f60.8384f1","name":"Solar Activity?","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"59","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":280,"wires":[[]]},{"id":"a8d7ba50.9d38a8","type":"trigger","z":"17160f60.8384f1","name":"On","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"59","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":890,"y":480,"wires":[[]]},{"id":"4ac5ee3a.fc84d","type":"trigger","z":"17160f60.8384f1","name":"Grid in Use","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"59","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":910,"y":140,"wires":[[]]},{"id":"d2214649.9512c8","type":"switch","z":"17160f60.8384f1","name":"Battery Charging","property":"payload.pw_stats.BatteryPowerFlowkW","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":600,"wires":[["52e4233.570bddc"]]},{"id":"52e4233.570bddc","type":"trigger","z":"17160f60.8384f1","name":"On","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"59","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":890,"y":600,"wires":[[]]},{"id":"2d759a50.136016","type":"switch","z":"17160f60.8384f1","name":"GridPowerFlow","property":"payload.pw_stats.GridPowerFlowkW","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":200,"wires":[["579513b3.7e794c"]]},{"id":"579513b3.7e794c","type":"trigger","z":"17160f60.8384f1","name":"Non Zero Grid Flow","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"59","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":930,"y":200,"wires":[[]]},{"id":"24469af7.8d0646","type":"switch","z":"17160f60.8384f1","name":"HousePowerUsekW","property":"payload.pw_stats.HousePowerUsekW","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":780,"wires":[["ef54954.2c3cb68"]]},{"id":"9be43ced.7253d","type":"switch","z":"17160f60.8384f1","name":"SoC","property":"payload.pw_stats.SoC","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":720,"wires":[["a3558322.b5831"]]},{"id":"3c8cbf07.20011","type":"switch","z":"17160f60.8384f1","name":"SolarPowerFlow","property":"payload.pw_stats.SolarPowerFlowkW","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":340,"wires":[["41cb3bd9.958364"]]},{"id":"ef54954.2c3cb68","type":"trigger","z":"17160f60.8384f1","name":"On","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"59","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":710,"y":780,"wires":[[]]},{"id":"a3558322.b5831","type":"trigger","z":"17160f60.8384f1","name":"On","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"59","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":890,"y":720,"wires":[[]]},{"id":"41cb3bd9.958364","type":"trigger","z":"17160f60.8384f1","name":"Solar Generation","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"59","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":930,"y":340,"wires":[[]]},{"id":"95261425.e5e4f8","type":"trigger","z":"17160f60.8384f1","name":"House running on Battery?","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"59","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":960,"y":420,"wires":[[]]},{"id":"b94b33e7.f0b0c","type":"debug","z":"17160f60.8384f1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":160,"wires":[]},{"id":"b65664e4.252af8","type":"function","z":"17160f60.8384f1","name":"","func":"msg.payload.SoC=msg.payload.pw_stats.SoC\nmsg.payload.BatteryPowerFlowkW=msg.payload.pw_stats.BatteryPowerFlowkW\nmsg.payload.BatteryPoweringHouse=msg.payload.pw_stats.BatteryPoweringHouse\nmsg.payload.GridInUse=msg.payload.pw_stats.GridInUse\nmsg.payload.GridPowerflow=msg.payload.pw_stats.GridPowerFlowkW\nmsg.payload.HousePowerUsekW=msg.payload.pw_stats.HousePowerUsekW\nmsg.payload.SolarActive=msg.payload.pw_stats.SolarActive\nmsg.payload.SolarPowerFlowkW=msg.payload.pw_stats.SolarPowerFlowkW\nmsg.payload.HW=false\nmsg.payload.MinSocThreshold=96\nmsg.payload.SolarDeltaFlow=msg.payload.SolarPowerFlowkW-msg.payload.HousePowerUsekW\n\nif (msg.payload.SolarDeltaFlow > 0) {\n            msg.payload.SolarExcess=msg.payload.SolarDeltaFlow;\n        }\n        else\n        {\n            msg.payload.SolarExcess=0\n        }\n\nif (msg.payload.SolarExcess > 3.2) {\n            msg.payload.LargeSolarExcess=true\n        }\n        else\n        {\n            msg.payload.LargeSolarExcess=false\n        }\n\n if (msg.payload.BatteryPowerFlowkW < 0) {\n            msg.payload.BatteryChargeRate=Math.abs(msg.payload.BatteryPowerFlowkW);\n            msg.payload.BatteryDischargeRate=0\n        }\n        else\n        {\n            msg.payload.BatteryChargeRate=0\n            msg.payload.BatteryDischargeRate=msg.payload.BatteryPowerFlowkW;\n        }\n\n if (msg.payload.GridPowerflow > 0) {\n            msg.payload.GridDraw=msg.payload.GridPowerflow;\n            msg.payload.GridExport=0\n        }\n        else\n        {\n            msg.payload.GridDraw=0\n            msg.payload.GridExport=Math.abs(msg.payload.GridPowerflow);\n        }\n        \n        \nif (msg.payload.SolarActive && msg.payload.SolarExcess >0 && msg.payload.GridInUse==false ) {\n   if (msg.payload.LargeSolarExcess)\n        {msg.payload.MinSocThreshold=75}\n    if (msg.payload.SoC >= msg.payload.MinSocThreshold){\n        msg.payload.HW=true\n        }\n    }\n    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":1180,"wires":[["ebe2b8b4.87e3d8","2bda06ae.3efc2a","6394e215.03da1c","b0092b24.117318","7545394e.3bedf8","46ba0508.a6319c","18982057.b573c","a85a6fed.4870e","bec7c61c.4cdc08","1a0f6a99.795db5","97e0dd74.b2bea","4b84ad49.dd3854","8d5a23d8.ba387","810df6.3f780208","de45d85.8b4a528","86b5676a.c85bf8","3e1657c4.167318","4fb35e8d.3a34","bb1b71a1.9ad4f","44a183e4.b339cc","b895e372.efd3","67f6e55a.4f804c"]]},{"id":"ebe2b8b4.87e3d8","type":"ui_gauge","z":"17160f60.8384f1","name":"SoC","group":"9527a237.4224e","order":1,"width":0,"height":0,"gtype":"donut","title":"Battery Level (SoC)","label":"%","format":" {{msg.payload.SoC| number:0}}%","min":0,"max":"100","colors":["#ff0000","#e6e600","#38ca38"],"seg1":"30","seg2":"70","x":690,"y":1280,"wires":[]},{"id":"968deb96.dba458","type":"ui_chart","z":"17160f60.8384f1","name":"Battery Flow","group":"9527a237.4224e","order":4,"width":0,"height":0,"label":"Battery Flow","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-10","ymax":"14","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":870,"y":1320,"wires":[[]]},{"id":"2bda06ae.3efc2a","type":"change","z":"17160f60.8384f1","name":"Battery Flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.BatteryPowerFlowkW","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1320,"wires":[["968deb96.dba458"]]},{"id":"6394e215.03da1c","type":"ui_gauge","z":"17160f60.8384f1","name":"","group":"c959d31c.dca66","order":1,"width":0,"height":0,"gtype":"donut","title":"House Power Load","label":"kW","format":" {{msg.payload.HousePowerUsekW| number:1}}","min":"0.5","max":"22","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2","seg2":"6","x":730,"y":1400,"wires":[]},{"id":"b0092b24.117318","type":"ui_gauge","z":"17160f60.8384f1","name":"","group":"9527a237.4224e","order":2,"width":0,"height":0,"gtype":"donut","title":"Battery Charge Rate","label":"kW","format":" {{msg.payload.BatteryChargeRate| number:1}}","min":"0","max":"11","colors":["#00b500","#e6e600","#ca3838"],"seg1":"7","seg2":"8","x":740,"y":1200,"wires":[]},{"id":"7545394e.3bedf8","type":"ui_gauge","z":"17160f60.8384f1","name":"","group":"9527a237.4224e","order":3,"width":0,"height":0,"gtype":"donut","title":"Battery Discharge","label":"kW","format":" {{msg.payload.BatteryDischargeRate| number:1}}","min":"0","max":"14","colors":["#00b500","#e6e600","#ca3838"],"seg1":"4","seg2":"8","x":730,"y":1240,"wires":[]},{"id":"46ba0508.a6319c","type":"ui_gauge","z":"17160f60.8384f1","name":"","group":"3e64921f.364bae","order":1,"width":0,"height":0,"gtype":"donut","title":"Grid Use","label":"kW","format":" {{msg.payload.GridDraw| number:1}}","min":"0","max":"22","colors":["#00b500","#e6e600","#ca3838"],"seg1":"4","seg2":"8","x":520,"y":860,"wires":[]},{"id":"18982057.b573c","type":"ui_gauge","z":"17160f60.8384f1","name":"","group":"3e64921f.364bae","order":2,"width":0,"height":0,"gtype":"donut","title":"Grid Export","label":"kW","format":" {{msg.payload.GridExport| number:1}}","min":"0","max":"7.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"3","seg2":"5","x":530,"y":900,"wires":[]},{"id":"a85a6fed.4870e","type":"change","z":"17160f60.8384f1","name":"HouseLoad","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.HousePowerUsekW","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1440,"wires":[["817939bd.e71aa8"]]},{"id":"bec7c61c.4cdc08","type":"change","z":"17160f60.8384f1","name":"GridFlow","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.GridPowerflow","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":940,"wires":[["b022ca83.711938"]]},{"id":"817939bd.e71aa8","type":"ui_chart","z":"17160f60.8384f1","name":"House Load","group":"c959d31c.dca66","order":2,"width":0,"height":0,"label":"House Demand","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":930,"y":1440,"wires":[[]]},{"id":"b022ca83.711938","type":"ui_chart","z":"17160f60.8384f1","name":"Grid Flow","group":"3e64921f.364bae","order":8,"width":0,"height":0,"label":"Grid Flow","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":740,"y":940,"wires":[[]]},{"id":"f850f19a.a4478","type":"link in","z":"17160f60.8384f1","name":"Function","links":["6f28edf7.4998f4"],"x":155,"y":1180,"wires":[["b65664e4.252af8"]]},{"id":"6f28edf7.4998f4","type":"link out","z":"17160f60.8384f1","name":"PWData","links":["f850f19a.a4478"],"x":415,"y":380,"wires":[]},{"id":"97e0dd74.b2bea","type":"ui_gauge","z":"17160f60.8384f1","name":"Solar Excess","group":"72a3ff93.1e39c","order":2,"width":0,"height":0,"gtype":"donut","title":"Solar Excess","label":"kW","format":" {{msg.payload.SolarExcess| number:1}}","min":"0","max":"7","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2","seg2":"6","x":550,"y":1040,"wires":[]},{"id":"1a0f6a99.795db5","type":"change","z":"17160f60.8384f1","name":"Solar","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.SolarPowerFlowkW","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1080,"wires":[["b72a2275.d47cb"]]},{"id":"b72a2275.d47cb","type":"ui_chart","z":"17160f60.8384f1","name":"Solar","group":"72a3ff93.1e39c","order":3,"width":0,"height":0,"label":"Solar Production","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":670,"y":1080,"wires":[[]]},{"id":"1f37f78e.c04758","type":"switch","z":"17160f60.8384f1","name":"Battery Discharging","property":"payload.pw_stats.BatteryPowerFlowkW","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":660,"wires":[["cd93427a.1197b"]]},{"id":"cd93427a.1197b","type":"trigger","z":"17160f60.8384f1","name":"On","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"59","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":890,"y":660,"wires":[[]]},{"id":"ab5258c1.87cbd8","type":"switch","z":"17160f60.8384f1","name":"Battery Idle","property":"payload.pw_stats.BatteryPowerFlowkW","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":540,"wires":[["6c74a4f1.b81ebc"]]},{"id":"6c74a4f1.b81ebc","type":"trigger","z":"17160f60.8384f1","name":"On","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"59","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":890,"y":540,"wires":[[]]},{"id":"4b84ad49.dd3854","type":"debug","z":"17160f60.8384f1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":1160,"wires":[]},{"id":"d607754f.6ed048","type":"debug","z":"17160f60.8384f1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":40,"wires":[]},{"id":"8d5a23d8.ba387","type":"switch","z":"17160f60.8384f1","name":"HW","property":"payload.HW","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":1360,"wires":[["9ed9532c.68b2d","7c3d8d8c.cda514"]]},{"id":"9ed9532c.68b2d","type":"http request","z":"17160f60.8384f1","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.9/cm?cmnd=Power%20On","tls":"","persist":false,"proxy":"","authType":"","x":1130,"y":1360,"wires":[["7a3ce2d1.58bc7c"]]},{"id":"d88da4a2.aef858","type":"http request","z":"17160f60.8384f1","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.9/cm?cmnd=Power%20Off","tls":"","persist":false,"proxy":"","authType":"","x":1490,"y":1360,"wires":[[]]},{"id":"7a3ce2d1.58bc7c","type":"trigger","z":"17160f60.8384f1","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"15","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1310,"y":1360,"wires":[["d88da4a2.aef858"]]},{"id":"7c3d8d8c.cda514","type":"trigger","z":"17160f60.8384f1","name":"On","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"59","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":950,"y":1400,"wires":[[]]},{"id":"810df6.3f780208","type":"ui_text","z":"17160f60.8384f1","group":"3e64921f.364bae","order":3,"width":0,"height":0,"name":"","label":"HW","format":"{{msg.payload.HW}}","layout":"row-spread","x":690,"y":1500,"wires":[]},{"id":"de45d85.8b4a528","type":"ui_gauge","z":"17160f60.8384f1","name":"","group":"72a3ff93.1e39c","order":1,"width":0,"height":0,"gtype":"donut","title":"Solar Generation","label":"kW","format":" {{msg.payload.SolarPowerFlowkW| number:1}}","min":"0.5","max":"7","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2","seg2":"6","x":570,"y":1000,"wires":[]},{"id":"86b5676a.c85bf8","type":"ui_text","z":"17160f60.8384f1","group":"3e64921f.364bae","order":4,"width":0,"height":0,"name":"","label":"MinSoCThreshold","format":"{{msg.payload.MinSocThreshold}}","layout":"row-spread","x":730,"y":1540,"wires":[]},{"id":"3e1657c4.167318","type":"ui_text","z":"17160f60.8384f1","group":"3e64921f.364bae","order":5,"width":0,"height":0,"name":"","label":"Grid In Use","format":"{{msg.payload.GridInUse}}","layout":"row-spread","x":710,"y":1600,"wires":[]},{"id":"4fb35e8d.3a34","type":"ui_text","z":"17160f60.8384f1","group":"3e64921f.364bae","order":6,"width":0,"height":0,"name":"","label":"Battery Powering House","format":"{{msg.payload.BatteryPoweringHouse}}","layout":"row-spread","x":750,"y":1660,"wires":[]},{"id":"bb1b71a1.9ad4f","type":"ui_text","z":"17160f60.8384f1","group":"3e64921f.364bae","order":7,"width":0,"height":0,"name":"","label":"Solar Active","format":"{{msg.payload.SolarActive}}","layout":"row-spread","x":710,"y":1700,"wires":[]},{"id":"fe18285c.283cc8","type":"change","z":"17160f60.8384f1","name":"","rules":[{"t":"set","p":"payload.RollingSolarExcess","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":1180,"wires":[[]]},{"id":"6c41a587.17c70c","type":"debug","z":"17160f60.8384f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1530,"y":1220,"wires":[]},{"id":"44a183e4.b339cc","type":"function","z":"17160f60.8384f1","name":"","func":"var AverageSolarExcess=global.get('AverageSolarExcess') || {};\nif (isNaN(AverageSolarExcess))//test exists\n{\n    \n  if (msg.payload.SolarPowerFlowkW>0)\n  {\n  AverageSolarExcess=msg.payload.SolarExcess;\n  }\n  else\n  {\n      AverageSolarExcess=0\n  }\n  \n}\nelse\n{\n    AverageSolarExcess=(AverageSolarExcess+msg.payload.AverageSolarExcess)/2\n}\n\n\nglobal.set('AverageSolarExcess',AverageSolarExcess);\nmsg.payload.AverageSolarExcess=AverageSolarExcess\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1120,"wires":[["7b5ed34a.26c00c"]]},{"id":"eba864f7.fc3208","type":"debug","z":"17160f60.8384f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":1100,"wires":[]},{"id":"7b5ed34a.26c00c","type":"function","z":"17160f60.8384f1","name":"","func":"var AverageSolarPowerFlowkW=global.get('AverageSolarPowerFlowkW') || {};\nif (isNaN(AverageSolarPowerFlowkW))//test exists\n{\n  \n  \n   if (msg.payload.SolarPowerFlowkW>0)\n  {\n  AverageSolarPowerFlowkW=msg.payload.SolarPowerFlowkW;\n  }\n  else\n  {\n      AverageSolarPowerFlowkW=0\n  }\n}\nelse\n{\n    AverageSolarPowerFlowkW=(AverageSolarPowerFlowkW+msg.payload.SolarPowerFlowkW)/2\n    AverageSolarPowerFlowkW=AverageSolarPowerFlowkW.toFixed(1)\n}\n\n\nglobal.set('AverageSolarPowerFlowkW',AverageSolarPowerFlowkW);\nmsg.payload.AverageSolarPowerFlowkW=AverageSolarPowerFlowkW\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":1120,"wires":[["eba864f7.fc3208"]]},{"id":"b895e372.efd3","type":"change","z":"17160f60.8384f1","name":"SoC","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.SoC","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1740,"wires":[["984ea6e9.74c0a8"]]},{"id":"984ea6e9.74c0a8","type":"ui_chart","z":"17160f60.8384f1","name":"SoC","group":"9527a237.4224e","order":4,"width":0,"height":0,"label":"SoC","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":1740,"wires":[[]]},{"id":"dd488dca.e47f5","type":"ui_chart","z":"17160f60.8384f1","name":"HW","group":"c959d31c.dca66","order":4,"width":0,"height":0,"label":"HW","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":1780,"wires":[[]]},{"id":"67f6e55a.4f804c","type":"function","z":"17160f60.8384f1","name":"","func":"if (msg.payload.HW===true)\n{\n    msg.payload=1\n}\nelse\n{\n    msg.payload=0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":1780,"wires":[["dd488dca.e47f5","8d0abb5c.d0bbe8"]]},{"id":"8d0abb5c.d0bbe8","type":"debug","z":"17160f60.8384f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":1860,"wires":[]},{"id":"9527a237.4224e","type":"ui_group","name":"Battery","tab":"8f7471e4.96478","order":3,"disp":true,"width":"6","collapse":false},{"id":"c959d31c.dca66","type":"ui_group","name":"House","tab":"8f7471e4.96478","order":4,"disp":true,"width":"6","collapse":false},{"id":"3e64921f.364bae","type":"ui_group","name":"Grid","tab":"8f7471e4.96478","order":1,"disp":true,"width":"6","collapse":false},{"id":"72a3ff93.1e39c","type":"ui_group","name":"Solar","tab":"8f7471e4.96478","order":2,"disp":true,"width":"6","collapse":false},{"id":"8f7471e4.96478","type":"ui_tab","name":"Fayreholme","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
